.settings {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  max-width: 448px;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.039), 0px 5.5px 16px rgba(0, 0, 0, 0.19);
  border-radius: 24px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px 0 27px;

    &-title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0;
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
  }

  &.focus {
    background-color: var(--red);
    color: var(--text-red);

    svg {
      path {
        fill: var(--border-red);
      }
    }

    .switcher label:after {
      background-color: var(--red);
    }

    input {
      color: var(--text-red);
    }
  }

  &.shortBreak {
    background-color: var(--green);
    color: var(--text-green);

    svg {
      path {
        fill: var(--border-green);
      }
    }

    .switcher label:after {
      background-color: var(--green);
    }

    input {
      color: var(--text-green);
    }
  }

  &.longBreak {
    background-color: var(--blue);
    color: var(--text-blue);

    svg {
      path {
        fill: var(--border-blue);
      }
    }

    .switcher label:after {
      background-color: var(--blue);
    }

    input {
      color: var(--text-blue);
    }
  }

  &-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.21);
  }
}